html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #181C1E;
    font-size: 1px;
}

body * {
    font-size: 14rem;
    color: white;
}

.flex_h_sb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page_content {
    margin: 0 200rem;
}